.env
.idea
faiss_index/
/documenti/corsi.txt
/documenti/corsi_magistrale.txt
/documenti/corsi_triennale.txt
/documenti/iscriversi.txt
/documenti/laurearsi.txt
/documenti/psicologia.txt
/documenti/studiare.txt
/documenti/risposte.txt
/webscraping_prova.py
